In [1]:
import pandas as pd
import numpy as np
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
from sklearn.cluster import KMeans
from sklearn import preprocessing

In [2]:
df = pd.read_csv('Churn_Modelling.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
RowNumber          10000 non-null int64
CustomerId         10000 non-null int64
Surname            10000 non-null object
CreditScore        10000 non-null int64
Geography          10000 non-null object
Gender             10000 non-null object
Age                10000 non-null int64
Tenure             10000 non-null int64
Balance            10000 non-null float64
NumOfProducts      10000 non-null int64
HasCrCard          10000 non-null int64
IsActiveMember     10000 non-null int64
EstimatedSalary    10000 non-null float64
Exited             10000 non-null int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [4]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [5]:
df.corr()

,RowNumber,CustomerId,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
RowNumber,1.000000,0.004202,0.005840,0.000783,-0.006495,-0.009067,0.007246,0.000599,0.012044,-0.005988,-0.016571
CustomerId,0.004202,1.000000,0.005308,0.009497,-0.014883,-0.012419,0.016972,-0.014025,0.001665,0.015271,-0.006248
CreditScore,0.005840,0.005308,1.000000,-0.003965,0.000842,0.006268,0.012238,-0.005458,0.025651,-0.001384,-0.027094
Age,0.000783,0.009497,-0.003965,1.000000,-0.009997,0.028308,-0.030680,-0.011721,0.085472,-0.007201,0.285323
Tenure,-0.006495,-0.014883,0.000842,-0.009997,1.000000,-0.012254,0.013444,0.022583,-0.028362,0.007784,-0.014001
Balance,-0.009067,-0.012419,0.006268,0.028308,-0.012254,1.000000,-0.304180,-0.014858,-0.010084,0.012797,0.118533
NumOfProducts,0.007246,0.016972,0.012238,-0.030680,0.013444,-0.304180,1.000000,0.003183,0.009612,0.014204,-0.047820
HasCrCard,0.000599,-0.014025,-0.005458,-0.011721,0.022583,-0.014858,0.003183,1.000000,-0.011866,-0.009933,-0.007138
IsActiveMember,0.012044,0.001665,0.025651,0.085472,-0.028362,-0.010084,0.009612,-0.011866,1.000000,-0.011421,-0.156128
EstimatedSalary,-0.005988,0.015271,-0.001384,-0.007201,0.007784,0.012797,0.014204,-0.009933,-0.011421,1.000000,0.012097
Exited,-0.016571,-0.006248,-0.027094,0.285323,-0.014001,0.118533,-0.047820,-0.007138,-0.156128,0.012097,1.000000

In [6]:
df_preprocessing = df[['CreditScore', 'Age', 'Balance', 'IsActiveMember','Exited', 'EstimatedSalary', 'Tenure', 'NumOfProducts']].dropna()

In [7]:
df_logistic = df_preprocessing[['CreditScore', 'Age', 'Balance', 'IsActiveMember', 'EstimatedSalary', 'Tenure', 'NumOfProducts']]
df_logistic_label = df_preprocessing.Exited
mm_scaler = preprocessing.MinMaxScaler()
df_logistic = mm_scaler.fit_transform(df_logistic)

In [8]:
#train test split
logistic_trainX,logistic_testX, logistic_trainY, logistic_testY = train_test_split(df_logistic, df_logistic_label)

In [9]:
model_logistic = LogisticRegression(class_weight='balanced')

In [10]:
model_logistic.fit(logistic_trainX, logistic_trainY)

/opt/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight='balanced', dual=False,
                   fit_intercept=True, intercept_scaling=1, l1_ratio=None,
                   max_iter=100, multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [11]:
model_logistic.score(logistic_testX, logistic_testY)

0.6996

In [12]:
y_test_pred = model_logistic.predict(logistic_testX)

In [13]:
confusion_matrix(logistic_testY, y_test_pred)

array([[1377,  588],
       [ 163,  372]])

In [14]:
#SVC
model_SVC = SVC(kernel='poly', gamma=10, C=10, class_weight='balanced')

In [ ]:
model_SVC.fit(logistic_trainX, logistic_trainY)

In [ ]:
model_SVC.score(logistic_testX, logistic_testY)

In [ ]:
y_test_pred_SVC = model_SVC.predict(logistic_testX)
confusion = confusion_matrix(logistic_testY, y_test_pred_SVC)
print(confusion)

In [ ]:
def recall_acc(confusion_matrix):
    precision = confusion_matrix[0,0]/(confusion_matrix[0,0]+confusion_matrix[0,1])
    recall = confusion_matrix[0,0]/(confusion_matrix[0,0]+confusion_matrix[1,0])
    return precision, recall

In [ ]:
print(recall_acc(confusion))

In [200]:
#what if we use kmeans to find clusters of these data
clustering = KMeans(n_clusters=2).fit(logistic_trainX)
clustering.cluster_centers_

array([[ 6.08310110e-01,  2.95895686e-01,  3.03112030e-01,
         1.00000000e+00,  4.98450413e-01,  4.95023573e-01,
         1.78278331e-01],
       [ 5.97466051e-01,  2.71286903e-01,  3.07465595e-01,
        -2.40918396e-14,  5.07689475e-01,  5.10157523e-01,
         1.74814412e-01]])

In [202]:
result_kmeans = clustering.predict(logistic_testX)
print(logistic_testY)

172     1
5944    0
6785    0
2496    0
2583    0
       ..
2376    0
2071    0
5905    0
3177    0
9699    0
Name: Exited, Length: 2500, dtype: int64

In [204]:
true_case = 0
for i in range(len(result_kmeans)):
    if result_kmeans[i] == logistic_testY.iloc[i]:
        true_case += 1
true_case/len(result_kmeans)

0.5888